<section class="price-section modern-container">
  <div class="price-content">
    <!-- Columna izquierda -->
    <div class="price-left">
      <div class="icon">
        <i class="fa-solid fa-calculator"></i>
      </div>
      <h2 class="price-title">{{ 'PRICE_OVERVIEW.TITLE' | translate }}</h2>
      <p class="price-intro">
        {{ 'PRICE_OVERVIEW.INTRO' | translate }}
      </p>
    </div>

    <!-- Columna derecha -->
    <div class="price-right">
      <ng-container *ngFor="let factor of factors">
        <div class="price-factor">
          <div class="factor-header">
            <h3 class="factor-number">{{ factor.number }}</h3>
            <h4 class="factor-title">{{ factor.title | translate }}</h4>
          </div>
          <hr />
          <p class="factor-description">
            {{ factor.description | translate }}
          </p>
        </div>
      </ng-container>
    </div>
  </div>
</section>
